<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655187545616-9nmqb2facnn1nqfoh9egs01qmd12dq40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655187545616-9nmqb2facnn1nqfoh9egs01qmd12dq40</string>
	<key>API_KEY</key>
	<string>AIzaSyDWFDVv_Jdgfs9esSgaYQjWOGfquhPnYAc</string>
	<key>GCM_SENDER_ID</key>
	<string>655187545616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loveMemory</string>
	<key>PROJECT_ID</key>
	<string>memory-love-2b1db</string>
	<key>STORAGE_BUCKET</key>
	<string>memory-love-2b1db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655187545616:ios:9641be8c90ffa51a06c495</string>
</dict>
</plist>